<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">~About Me~</h2>
                <hr class="light">
                <p class="text-faded">Hello, my name is Shereef Younis, and I am a graphic designer with a passion for interactive design. 
                    I am currently attending Arizona State University, where I am pursuing a Bachelor of Science in Graphic Information Technology. 

                    <br> <br> I'm pursuing a career in Graphic Design to showcase my passion for the interaction between designers and users. 
                    This includes enhancing user interactions and strengthening the relationships between users and designers through websites, video games, product marketing, and more, as well 
                    as communicating ideas through visual languages and applying design psychology principles to assist others. 

                    <br> <br> My career goal in design, particularly in interactive design and UX, is to connect with audiences through the power of design across various 
                    industries such as video games, product websites, and more.</p>
            </div>
        </div>
    </div>
</section>
